<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/GamificationDB?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Pelerin333</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="entities/Event.hbm.xml"/>
    <mapping resource="entities/Player.hbm.xml"/>
    <mapping resource="entities/Action.hbm.xml"/>
    <mapping resource="entities/Privilege.hbm.xml"/>
    <mapping resource="entities/PlayerReward.hbm.xml"/>
    <mapping resource="entities/ObjectType.hbm.xml"/>
    <mapping resource="entities/EventType.hbm.xml"/>
    <mapping resource="entities/Badge.hbm.xml"/>
    <mapping resource="entities/TeamPlayer.hbm.xml"/>
    <mapping resource="entities/Quest.hbm.xml"/>
    <mapping resource="entities/Voucher.hbm.xml"/>
    <mapping resource="entities/Point.hbm.xml"/>
    <mapping resource="entities/Object.hbm.xml"/>
    <mapping resource="entities/TeamRole.hbm.xml"/>
    <mapping resource="entities/Application.hbm.xml"/>
    <mapping resource="entities/Reward.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
